<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

    <% if @event.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :host, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :host, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:host]) %>
  </div>
  <div class="control-group">
    <%= f.label :owner_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :owner_id, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:owner_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :public, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :public, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:public]) %>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:location]) %>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:city]) %>
  </div>
  <div class="control-group">
    <%= f.label :date_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_time, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:date_time]) %>
  </div>
  <div class="control-group">
    <%= f.label :capacity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :capacity, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:capacity]) %>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:category]) %>
  </div>
  <div class="control-group">
    <%= f.label :attending, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :attending, :class => 'form-control' %>
    </div>
    <%= error_span(@event[:attending]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            events_path, :class => 'btn btn-default' %>

<% end %>
